body, html {
    height: 100%;
  }
/*Autocomplete*/
.autocomp{
  position: relative;
  display: inline-block;
}
.autocomp-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomp-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomp-items div:hover {
  background-color: #e9e9e9;
}
.autocomp-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/*Img Form*/
.form-img{
    background-image: url(../img/card-hall.jpg);
    filter: blur(1.5px) brightness(80%);
    height: 89.7%;
    min-width: 25px;
    margin-bottom: 0;
}
.cont{
    position: absolute;
    right: 15%;
    top: 35%;
    margin: 20px;
    max-width: 350px;
    padding: 16px;
    border-radius: 20px;
    border: black;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
}